/* custom styles */
:root {
  --background-color: #16161a;
  --card-background-color: #242629;
  --text-color: #fffffe;
  --paragraph-color: #94a1b2;
  --componets-background: #4889fc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: var(--background-color);
}

p,
h1 {
  color: var(--text-color);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.title-sections {
  text-align: center;
  font-size: 2.3rem;
}

/* navbar style */

.navbar {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  justify-items: center;
  padding-top: 15px;
  background-color: var(--background-color);
}

.user-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.user-info p {
  color: var(--text-color);
}

.user-info .color-mail {
  color: var(--paragraph-color);
}

.content-navbar {
  padding: 20px 35px;
  background-color: var(--card-background-color);
  border: solid var(--paragraph-color) 1px;
  border-radius: 10px;
}

.content-navbar a {
  color: var(--text-color);
  text-decoration: none;
  padding: 10px;
}

.social-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-icons a {
  color: var(--text-color);
  text-decoration: none;
  padding: 5px;
}

.available p {
  padding: 0 25px;
  color: #31cf31;
}

.available p i {
  padding: 0 5px;
  font-size: 11px;
}

.social-icons {
  font-size: 20px;
}

/* hero style */

.flex-hero {
  display: flex;
  justify-content: space-between;
  gap: 4.2rem;
}

.hero-section {
  padding: 90px 0px;
  background-color: var(--background-color);
  color: var(--text-color);
}

.light-hello {
  color: var(--text-color);
  font-size: 1.2rem;
  font-weight: 350;
  margin-bottom: 10px;
}

.greeting {
  color: var(--text-color);
  font-size: 3rem;
  font-weight: 700;
}

.subtitle-g {
  display: block;
  color: var(--componets-background);
  font-size: 2.2rem;
  font-weight: 500;
  margin-top: -10px;
  margin-bottom: 10px;
}

.about-me {
  color: var(--paragraph-color);
}

.perfil-img {
  width: 450px;
  height: 450px;
  object-fit: cover;
}

.flex-buttons {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  padding-top: 3.2rem;
}

.button-cv {
  padding: 10px 20px;
  border-radius: 6px;
  border: solid 1px #94a1b2;
  background-color: var(--componets-background);
}
.button-cv:hover {
  background-color: var(--card-background-color);
  transition: 0.2s;
}

.cv-icon {
  padding-right: 5px;
}

.button-projects {
  padding: 10px 20px;
  border-radius: 6px;
  border: solid 1px #94a1b2;
  background-color: var(--componets-background);
}
.button-projects:hover {
  background-color: var(--card-background-color);
  transition: 0.2s;
}

/* projects section */

.grid-container {
  margin-top: 50px;
  margin-bottom: 15px;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
}

.card-project {
  background-color: var(--card-background-color);
  margin-bottom: 1.8rem;
  width: 370px;
  height: 500px;
  border-radius: 8px;
  border: solid 1px var(--paragraph-color);
}

.project-img {
  width: 370px;
  height: 200px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border: solid 1px var(--paragraph-color);
  object-fit: cover;
}

.card-info {
  padding: 15px;
}

.card-info > .title {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 15px;
}

.tech-badges {
  margin-bottom: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.badge {
  background-color: var(--componets-background);
  font-size: 0.8rem;
  padding: 2px 13px;
  border-radius: 15px;
  border: solid 1px #093fb4;
}

.card-info > .description {
  margin-bottom: 3rem;
  color: var(--paragraph-color);
}

.linked-items {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
}

.linked-items > a {
  background-color: var(--componets-background);
  color: var(--text-color);
  padding: 5px 20px;
  border-radius: 8px;
  border: solid 1px var(--paragraph-color);
  text-decoration: none;
}

/* tech stack section */

.flex-stack {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  margin: 30px auto;
  padding: 5px;
  width: 750px;
  background-color: var(--card-background-color);
  border-radius: 8px;
  border: solid 1px var(--paragraph-color);
}

.flex-stack > a {
  text-decoration: none;
  text-align: center;
  flex-grow: 1;
  color: var(--paragraph-color);
  padding: 6px 25px;
  border-radius: 3px;
}

.flex-stack > a:hover {
  background-color: #16161a;
}

.container-stack {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 35px;
  padding: 25px;
  width: 750px;
  background-color: var(--card-background-color);
  border-radius: 8px;
  border: solid 1px var(--paragraph-color);
}

.icon-stack {
  width: 40px;
  gap: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* certification section */

.certifications-container {
  /* background-color: var(--paragraph-color); */
  margin-top: 30px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 15px;
}

.card-certification {
  background-color: var(--card-background-color);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 365px;
  padding: 10px;
  border: solid 1px var(--paragraph-color);
  border-radius: 8px;
}

.card-certification > img {
  width: 70px;
  object-fit: cover;
  border-radius: 8px;
}

.title-certification {
  font-weight: 600;
}

.site-certification {
  color: var(--paragraph-color);
  margin-bottom: 10px;
}

.link-certification {
  text-decoration: none;
}

/* footer section */

footer {
  background-color: var(--card-background-color);
  margin-top: 6.2rem;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0;
}

.dev-with {
  margin-bottom: 1rem;
  font-size: 0.9rem;
  color: var(--paragraph-color);
}
.reserve-rights {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: var(--paragraph-color);
}

.contact-footer {
  font-size: 0.9rem;
}

.flex-stackFooter {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1.5rem;
}

.flex-i-footer {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.text-tech {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 6px;
}

.icon-footer {
  width: 22px;
}

.final-text {
  font-size: 0.8rem;
  text-align: center;
  padding-bottom: 3rem;
}
